<h1 class="text-center">Thanks for Buying with eDEALZ!</h1>

<p class="text-center"><em>We love our People!...</em></p>

<ul>
  <li>Order Number <%= @order.id %></li>
  <li>Subtotal <%= @order.subtotal %></li>
  <li>Tax <%= @order.tax %></li>
  <li>Total <%= @order.total %></li>
</ul>