<!-- Page Content -->
  <div class="container">
  <div class="row">

    <h1>All Products</h1>
      <% @products.each_slice(3) do |slices|%>
        <div class="row">
          <% slices.each do |product|%>
             <div class="col-md-4">
                <div class="thumbnail">
                  <img src="<%= product.image %>" alt="">
                  <div class="caption">
                    <h4 class="pull-right">Rwf <%= product.price %></h4>
                    <h4><%= link_to product.name, product %></h4>
                    <p><%= product.description %></p>
                  </div>
                </div>
            </div>
          <% end %> <!-- End of products loop -->
        </div>
    <% end %> <!-- End of products loop -->
  </div>
</div>

