<h1>New Product</h1>

<%= form_tag "/products", method: :post do %>
  
  <div>
  	Name: <br><input type="text" name="name" > 
  </div>
<br> <br>
  <div>
  	Description: <br> <input type="text" name="description" >
  </div>
 <br> <br>
  <div>
  	Image: <br> <input type="text" name="image" > 
  </div>
<br> <br>
  <div>
  	Price: <br> <input type="text" name="price" >
  </div>
<br> <br>
  <div>
  	<input type="submit" value="Create Product"> 
  </div>
<br>
<% end %>

<%= link_to 'Cancel', root_path %>